public class Foo {

    private String field1;
    private String field2;
    private String field3;

    public static class Bar {
        private String field1;
        private String field2;
        private String field3;
    }

    public static class Baz {
        private String field1;
        private String field2;
        private String field3;
    }
}
